@import url(fonts/OpenSans/opensans.css);

body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans';
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.root {
    width: 960px;
    margin: 0 auto;
}

main {
    height: 100%;
}

div.map {
    margin-top: 20px;
}

div#map {
    height: 340px;
}

div.dark-popup {
    font-family: 'Open Sans';
    font-weight: 300;
}

div.dark-popup .leaflet-popup-content-wrapper {
    background: rgba(34,34,34,0.8);
    border-radius: 4px;
    box-shadow: none;
    color: #FFF;
}

div.dark-popup .leaflet-popup-tip {
    background: rgba(34,34,34,0.8);
    box-shadow: none;
}

div.network-popup {

}

div.network-popup ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div.network-popup ul li {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div.network-popup ul li.city {
    font-weight: bold;
    font-size: 1.2em;
}

div#map div.leaflet-bar {
    box-shadow: none;
}

div#map div.leaflet-bar a {
    background: rgba(34,34,34,1) !important;
    color: #FFF;
}

div#map div.leaflet-bar a:hover {
    background: rgba(100,100,100,1) !important;
}
