body {
    height: 100%;
    margin: 0px;
}

.root {
    width: 960px;
    margin: 0 auto;
}

main {
    height: 100%;
}

.progressbar {
    position: relative;
    height: 25px;
    width: 100%;
    border-radius: 2px;
    background-color: #ecf0f1;
    overflow: hidden;
}

.progressbar .the_progress {
    position: absolute;
    top: 0px; left: 0px;
    height: 100%;
    width: 100%;
    background-color: #bdc3c7;
}

.progressbar .label {
    display: none;
}

.progressbar .label span.progress {

}

.progressbar .label span.total {

}
